# Ignore directories
DO_NOT_PUBLISH/
Output/Intermediate/

# Ignore system files
.DS_Store

# Ignore Python environment and cache files
*.env
.venv/
__pycache__/
*.pytest_cache/

# Ignore specific file types
*.parquet
*.csv

# Ignore specific Excel files
*codes_man_text.xlsx
*codes_man.xlsx
*codes.xlsx
*responses.xlsx
*responses_man.xlsx
*responses_man_text.xlsx

# Ignore VSCode settings
.vscode/
